body {
  background: #ddd;
}

.content {
  padding: 20px;
}

.header {
  height: 70px;

  .nav {
    display: none;
    float: none;
    li {
      display: block;
      & > a, &:first-child > a {
        padding: 0.5em 1em;
      }
    }
  }
}

.footer {
  height: auto;

  #promo-section {
    margin: 20px 0;
  }

  .footer-map #footer-map-holder {
    width: 100%;
  }

  .nav {
    list-style: none;
    text-align: center;
    margin: 0 0 8px 0;

    a {
      padding: 4px 0;
      display: block;
    }
  }
}

.page-landing {
  #main {
    background: #aaa;
    background-image: url(/images/bg.jpg);
    background-size: cover;
  }
  .hero-content {
    font-size: 16pt;
    padding: 15px;
  }
}
