@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "colors";
@import "variables";
@import "typo";

body {
  color: $textColor;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

strong {
  font-weight: bold;
}

.bordered-box {
  border: 5px solid $borderColor;
  @include border-radius(3px);
}

.bordered-box-hover {
  border-color: rgba($brightBrandColor, .4);
}

p {
  margin-bottom: 1em;
}

ul {
  list-style: disc;
  margin-left: 2em;
  margin-bottom: 1em;
}

a {
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
  }
}

a:focus, .btn:focus {
  outline: none;
}

.container {
  padding: 0;
  width: auto !important;
  position: relative;
  max-width: 1125px !important;
  margin: 0 auto;
  clear: both;
}

.content {
  max-width: 900px;
  margin: 0 auto;

  p:last-child {
    margin-bottom: 0;
  }
}

.btn {
  border: 3px solid $linkColor;
  font-weight: bold;
  padding: .4em .8em;
  display: inline-block;
  @include border-radius(20px);

  &:hover {
    text-decoration: none;
    border-color: $linkHoverColor;
  }
}

.page-landing {
  .hero-content {
    color: #fff;
    opacity: .85;
    padding-top: 40px;
    font-size: 32pt;
    margin: 0 auto;

    p {
      line-height: 1.1;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.project {
  margin-bottom: 10pt;
  padding-top: 1px;
  margin-top: 10px;
  clear: both;
  min-height: 243px;

  .project-image {
    float: left;
    margin-right: 10pt;
    @extend .bordered-box;
  }
}

// Location page

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
}

// Header and footer stuff

.header {
  $headerLinkColor: $headerFooterTextColor;
  $headerLinkHoverColor: #000;

  width: 100%;
  margin: 0;
  background: $headerBackgroundColor;

  .container {
    z-index: 1;
  }

  .header-logo {
    background: url('/images/header-logo.png');
    background-size: 80px 78px;
    position: absolute;
    left: 0;
    top: 5px;
    width: 80px;
    height: 78px;
  }

  .brand {
    float: left;
    margin-top: .5em;
    padding-left: 80px;

    a {
      color: $brandColor;
      font-size: 23pt;
      line-height: 1;
      text-wrap: nowarp;

      &:hover {
        color: $headerBrandLinkColor;
      }
    }

    .tagline {
      font-weight: 400;
      display: block;
      line-height: 1.3;
      color: lighten($headerFooterTextColor, 25%);
    }
  }

  .nav {
    float: right;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }

    a {
      text-transform: uppercase;
      font-weight: bold;
      padding: 1.5em 1em;
      display: inline-block;
      color: $headerLinkColor;

      &:hover {
        color: $headerLinkHoverColor;
        background: transparent;
      }
    }
  }

  .nav > li:first-child > a {
    padding-left: 0;
  }
}

.footer {
  font-size: 12pt;
  background: $headerBackgroundColor;

  .container {
    padding: 1em 0;
  }

  .heading {
    margin-bottom: .25em;
    margin-top: 0;
  }

  .hours {
    h3 {
      padding-bottom: 6px;
    }
    td {
      padding-right: 1em;
    }
    .member-hours {
      color: $lightTextColor;
      td {
        padding-top: 6px;
      }
    }
    span {
      color: $lightTextColor;
    }
  }

  .footer-contact {
    padding-top: 0;

    text-align: center;
    p {
      margin: 0;
    }

    .social-icon {
      margin-left: 10px;
      vertical-align: middle;
      height: 20px;
      width: 22px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;

      &.social-icon-twitter {
        background-image: url(/images/twitter-logo.png);
      }

      &.social-icon-facebook {
        background-image: url(/images/facebook-logo.png);
      }
    }
  }

  #promo-section {
    display: block;
    height: 140px;
    background-color: $footerBoxBackground;
    background-image: url(/images/promo-halloween-party-2014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    color: $textColor;

    &:hover {
      text-decoration: none;

      @extend .bordered-box-hover;
    }

    .promo-content {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 100px;
      color: white;

      h3 {
        color: $brightBrandColor;
        padding-bottom: 3px;
      }

      .small {
        color: $lightTextColor;
      }
    }
  }

  .footer-map {
    text-align: right;

    #footer-map-holder {
      background: $footerBoxBackground;
      @extend .bordered-box;
      float: right;
      height: 140px;
      width: 320px;
    }

    #footer-map {
      height: 100%;
      width: 100%;
    }

    a {
      display: block;
      clear: both;
    }
  }
}

$medium-breakpoint: 992px;

@media (max-width: $medium-breakpoint) {
  @import "mobile";
}

@media (min-width: $medium-breakpoint) {
  @import "not-mobile";
}

@media (min-width: $medium-breakpoint) and (max-width: 1060px) {
  .footer .hours td {
    display: inline-block;
    padding-right: .5em;
  }
}

@media (min-width: 1170px) {
  .header {
    .nav > li:last-child > a {
      padding-right: 0;
    }
  }
}
