extends layout

block content
  .content.just-text
    h1 About Site 3

    p Site 3 coLaboratory is a 2,000 square foot member-run makerspace in a shed down an alley in Toronto’s west end. We are dedicated to making, teaching, learning and thinking about the intersection between art and technology. We make amazing things, and we will teach others to make amazing things, too.
    p The vision for the Site 3 coLaboratory is to have a space that will promote a four step cycle of <strong>create – display – teach – inspire</strong>.

    ul
      li Create: A workspace which provides members with access to tools and equipment for working on projects. We presently have an electronics lab with soldering equipment, a CNC laser cutter, a full metal shop, industrial sewing machines, and welding equipment.
      li Display: A gallery space for hosting regular events where members can display and promote projects.
      li Teach: A classroom space for hosting regular events where members and guests can share their skills and learn from each other.
      li Inspire: Site 3 exists to develop a community of people interested in making awesome things and promoting the entire cycle.
    p As a member-run organization, in addition to having access to the space, members have the responsibility of keeping it going: running classes, helping with fundraisers, gallery nights, and other events, and working on community projects.
