doctype 5
html
  head
    title
      - if (locals.page_title != null)
        = [page_title, title].join(' | ')
      - else
        = title
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
    link(rel="icon", type="image/png", href="/favicon.ico")
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src="/external/jquery.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="/js/all.js")
    script(src="/components/cufon/cufon.js")
    script(src="/neutra.font.js")
    script(type="text/javascript")
      Cufon.replace('h1,h2,h3,h4,h5,h6,.header a,.landing', {hover: true});
    block head
  body
    .pre-footer
      .background-mask
      .header
        .container
          .brand
            a(href='/')
              img(src="/images/header-logo.png")
              | Site 3 coLaboratory
            span.tagline
              span.main Art and technology workspace
          ul.nav
            li: a(href="/about") About
            li: a(href="/membership") Membership
            li: a(href="/classes") Events / Classes
            li: a(href="/tools") Tools / Facilities
            li: a(href="/projects") Projects

      #main.container
        block content

    .footer
      .container
        .col-md-4
          h3.heading Hours
          table.hours
            tr
              td Thursday <span class="callout">Public</span>
              td 7pm &ndash; late
            tr
              td Monday <span class=callout>Ladies + LGBTQ</span>
              td 7pm &ndash; 10pm
            tr
              td Saturday <span>Associate Members<span>
              td noon &ndash; 6pm
            tr
              td Sunday <span>Associate Members</span>
              td noon &ndash; 6pm
            tr.member-hours
              td(colspan="2") 24/7 access is available with a <a href="/membership">membership</a>
        .col-md-4
          #promo-section
            a(href="https://www.facebook.com/pages/Site-Bee-Popup-Shop/1386623644958076")
              .promo-content
                h3 Visit Site Bee!
                | Site 3's Popup Store <br/>1550 Queen St West<br /><span class="small">May 25 to July 25</span>
        .col-md-4.footer-map
          #footer-map-holder
            #footer-map
          a(href="location") full map and location &rarr;
      .container.footer-contact
        p
          | Email us at <a href="mailto:info@site3.ca">info@site3.ca</a>
          a.social-icon(href="https://twitter.com/site3colab", target="_blank")
            img(src="/images/twitter-logo.png")
          a.social-icon(href="https://www.facebook.com/site3colab", target="_blank")
            img(src="/images/facebook-logo.png")

  script(type="text/javascript")
    Cufon.now();
  // by kate.io
