doctype html
html
  head
    title
      - if (locals.page_title != null)
        = [page_title, title].join(' | ')
      - else
        = title
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
    link(rel="icon", type="image/png", href="/favicon.ico")
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src="/external/jquery.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="/js/all.js")
    script(src="/components/cufon/cufon.js")
    script(src="/neutra.font.js")
    script.
      Cufon.replace('h1,h2,h3,h4,h5,h6,.header a,.hero-content', {hover: true})
    block head
  body("class"="page-"+body_class)
    .pre-footer
      .background-mask
      .header
        .container
          .brand
            a(href='/')
              .header-logo
              | Site 3 coLaboratory
            span.tagline
              span.main Art and technology workspace
          ul.nav
            li: a(href="/about") About
            li: a(href="/membership") Membership
            li: a(href="/classes") Events / Classes
            li: a(href="/projects") Projects

      #main.container
        block content

    .footer
      .container
        .col-md-4.hours
          h3.heading Hours
          table
            tr
              td Monday
              td 4 &ndash; 11pm
              td <span>Associates &amp; Core</span>
            tr
              td Tuesday
              td 7 &ndash; 10pm
              td <a href="/classes#ladies-lgbtq-open-studio" class=callout>Ladies + LGBTQ</a>
            tr
              td Thursday
              td 7 &ndash; late
              td <a href="/classes#open-house" class="callout">Public open house</a>
            tr
              td Sat &amp; Sun
              td 12 &ndash; 6pm
              td <span>Associates &amp; Core<span>
            tr.member-hours
              td(colspan="3") <a href="/membership">core members get 24/7 access &raquo;</a>
        .col-md-4
          a#promo-section(href="http://site3.eventbrite.ca", target="_blank")
            .promo-content
              h3 Take a class!
              | Learn woodworking, glassworking, and more!
        .col-md-4.footer-map
          #footer-map-holder
            #footer-map
          a(href="/location") view full map and location &raquo;
      .container.footer-contact
        ul.nav
          li: a(href="/about") About
          li: a(href="/membership") Membership
          li: a(href="/classes") Events / Classes
          li: a(href="/projects") Projects
        p
          | <a href="mailto:info@site3.ca">info@site3.ca</a>
          a.social-icon.social-icon-twitter(href="https://twitter.com/site3colab", target="_blank")
          a.social-icon.social-icon-facebook(href="https://facebook.com/site3colab", target="_blank")

  script.
    Cufon.now()
  // by kate.io
