doctype 5
html
  head
    title
      - if (locals.page_title != null)
        = [page_title, title].join(' | ')
      - else
        = title
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
    link(rel="icon", type="image/png", href="/favicon.ico")
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src="/external/jquery.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="/js/all.js")
    script(src="/components/cufon/cufon.js")
    script(src="/neutra.font.js")
    script(type="text/javascript")
      Cufon.replace('h1,h2,h3,h4,h5,h6,.header a,.landing', {hover: true});
    block head
  body
    .pre-footer
      .background-mask
      .header
        .container
          .brand
            a(href='/')
              img(src="/images/header-logo.png")
              | Site 3 coLaboratory
            span.tagline
              span.main Art and technology workspace
          ul.nav
            li: a(href="/about") About
            li: a(href="/membership") Membership
            li: a(href="/classes") Events / Classes
            li: a(href="/projects") Projects

      #main.container
        block content

    .footer
      .container
        .col-md-4.hours
          h3.heading Hours
          table
            tr
              td Monday
              td 4 &ndash; 12pm
              td <span>Associates welcome</span>
            tr
              td Tuesday
              td 7 &ndash; 10pm
              td <a href="/classes#ladies-lgbtq-open-studio" class=callout>Ladies + LGBTQ</a>
            tr
              td Thursday
              td 7 &ndash; late
              td <a href="/classes#open-house" class="callout">Public open house</a>
            tr
              td Sat &amp; Sun
              td 12 &ndash; 6pm
              td <span>Associates welcome<span>
            tr.member-hours
              td(colspan="3") <a href="/membership">get 24/7 access with a core membership</a>
        .col-md-4
          a#promo-section(href="https://www.facebook.com/pages/Site-Bee-Popup-Shop/1386623644958076", target="_blank")
            .promo-content
              h3 Visit Site Bee!
              | Site 3's Popup Store <br/>1550 Queen St West<br /><span class="small">only until July 25</span>
        .col-md-4.footer-map
          #footer-map-holder
            #footer-map
          a(href="/location") view full map and location
      .container.footer-contact
        p
          | contact us at <a href="mailto:info@site3.ca">info@site3.ca</a>
          a.social-icon(href="https://twitter.com/site3colab", target="_blank")
            img(src="/images/twitter-logo.png")
          a.social-icon(href="https://www.facebook.com/site3colab", target="_blank")
            img(src="/images/facebook-logo.png")

  script(type="text/javascript")
    Cufon.now();
  // by kate.io
