extends layout

block content
  .content.just-text
    h1 Site 3 Location

    #map

    p Site 3 coLaboratory is located down an alley in Toronto just south of Bloor and west of Ossington. The first floor of Site 3 is ramp accessible, but the second floor is only accesible by a flight of stairs. Washrooms are available but there is no running water.
