extends layout

block content
  .content
    h1 Projects

    p Site3 is a unique collection of artists, makers, hackers and hobbyists. All of our members can easily be found leading or collaborating on projects, events, workshops and community initiatives. Members are often working on projects during Thursday open house.

    .clearfix
      .project.col-md-6
        h2 Riskee Ball
        img.project-image(src="/images/project-riskee-ball.jpg")
        p Traditional Skee Ball with a firey twist. Lead by Christopher Guard 10 lanes of aluminum fire spewing skee ball lanes were built by Site 3 Fire Arts and installed at Burning Man 2014.
      .project.col-md-6
        h2 Super Street Fire
        img.project-image(src="/images/project-ssf.jpg")
        p Super Street Fire is a simulated fighting game in the style of Street Fighter. However, instead of playing a traditional video game, the participants interact with the game by shadow boxing while wearing motion sensing gloves.

    .clearfix
      .project.col-md-6
        h2 Flux &amp; Fire
        p Imagine during the evening a lone Nuit Blanche wanderer catches a glimpse of dancing flames. The wanderer is drawn to the flames; for to be around fire is to be connected to an intimate place where humans have always gathered.
      .project.col-md-6
        h2 Pyrokenisis
        p Using a wireless EEG headset and a control unit connected to an eight headed flame effect, participants can create 20′+ blasts of fire with their thoughts.

    .clearfix
      .project.col-md-6
        h2 Shannon's Fireflies
        p Alice, having walked up to the cube to inspect the fireflies closer, wonders how those on the edge of the cube would respond to her own lights. She takes out a small light on her keychain, and flashes it at one of the closest fireflies. The firefly lights up, which then wakes up its neighbors, and the stream of light passes through the cube to the other end.
