extends layout

block content
  .content
    p We presently have an electronics lab with soldering equipment, a CNC laser cutter, a full metal shop, industrial sewing machines, and welding equipment.
